.jumbotron{
    padding-top: 6rem;
    background-color: #73b3de; 
    
}

#projects {
    background-color: #73b3de;
    padding-top: 5rem;
    margin-top: -10px;

}

section {
    padding-top: 5rem;
}